.container{
    margin:45px auto;
    max-width: 45vw; 
}

.center{
    text-align: center;
}

@media only screen and (max-width: 600px) {
  
    .container{
        margin:40px auto;
        max-width: 90vw; 
    }
}